{
  "presets": [
    ["@babel/preset-react", { "pragma": "h" }],
    ["@babel/preset-env", {
      "targets": {
        "chrome": "41",
        "ie":     "11"
      }
    }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}
